[submodule "_experiments/demos/chroma-key"]
	path = _experiments/demos/chroma-key
	url = https://github.com/shixish/chroma-key.git
[submodule "_experiments/demos/fractal-fun"]
	path = _experiments/demos/fractal-fun
	url = https://github.com/shixish/fractal-fun.git
[submodule "_experiments/demos/music"]
	path = _experiments/demos/music
	url = https://github.com/shixish/music.git
