<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} &middot; {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <!-- Custom CSS -->
    <!-- <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}"> -->
    <link href="{{ "/css/screen.css" | prepend: site.baseurl }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <link href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print" rel="stylesheet" type="text/css" />
    <!--[if IE]>
        <link href="{{ "/css/ie.css" | prepend: site.baseurl }}" media="screen, projection" rel="stylesheet" type="text/css" />
    <![endif]-->
    {% for css in page.extra_css %}
    <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
	<script src="/js/libs/modernizr.min.js"></script>
</head>